
{% extends 'baseArticles.html.twig' %}

{% block main %}

    {% for category in categories %}
        <h2>{{ category.title }}</h2>

        {# category.articles est un arrayCollection, il faut donc faire une boucle dessus #}
        {% for article in category.articles %}
            <p>{{ article.title }}</p>
        {% endfor %}

    {% endfor %}

{% endblock %}